[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.6"

[packages]
split-folders = {editable = true,path = "."}

[pipenv]
allow_prereleases = true
