name: Test

on: [push, pull_request, workflow_dispatch]

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
                python-version: ["3.10", "3.11", "3.12", "3.13"]
                extras: ["", '--extras "full"']

        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.python-version }}
            - uses: Gr1N/setup-poetry@v9
            - uses: actions/cache@v4
              with:
                  path: ~/.cache/pypoetry/virtualenvs
                  key: ${{ runner.os }}-${{ matrix.python-version }}-${{ matrix.extras }}-poetry-${{ hashFiles('poetry.lock') }}

            - name: Install dependencies with all extras combinations
              run: poetry install --without dev ${{ matrix.extras }} && poetry run pip install pytest

            - run: poetry run pytest
